body {
    font-family: Arial, sans-serif;
    background-color: #e6ae4f;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 0 auto;
    background-color: #fff700;
    padding: 20px;
    margin-top: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="Email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.btn {
    background-color: #b35353;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

#message {
    text-align: center;
    margin-bottom: 20px;
    color: #ff0000;
    font-weight: bold;
}


body {
    background-image: url('BG1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: arial;

}



.container {
text-align: center;
background-color: rgba(152, 218, 244, 0.8);
padding: 30px;
border-radius: 80px;

}

.container h1 {
font-size: 48px;
margin: 10px 0;
position:10vh 
}

.btn {
display: inline-block;
padding: 10px 20px;
font-size: 26px;
text-decoration: none;
color: #fff;
background-color: #0da2ff;
border: none;
border-radius: 26px;
transition: background-color 0.3s;
}

.btn:hover {
background-color: #b30000;
}
